QPushButton {
    color:red;
    background-color: yellow
    background-image:url(/home/tankery/Pictures/StrangeGoogle.png)
}

/*
QDialog {
    background-image:url(/home/tankery/Pictures/StrangeGoogle.png)
}
*/
